<main class="min-h-screen flex flex-col justify-between">
  <div class="text-3xl font-bold underline">{{subject}}</div>
  <div
    class="p-2 text-xl rounded text-blue-500 bg-gray-300 w-fit"
  >{{content}}</div>
  <div
    class="w-full bg-gray-300 py-10 border-t border-black text-center"
  >{{footer}}</div>
</main>