<h1 class="text-3xl font-bold underline">{{subject}}</h1>
<div class="mt-5 flex flex-col gap-2">
  {{#each books}}
    <h3 class="text-xl bg-gray-300 p-2 rounded text-blue-500">
      {{this}}
    </h3>
  {{/each}}
  {{message}}
</div>